@* GROUP PROJECT #2 *@
@* LOGIN VIEW *@

@using IQSport.Models.AuthModels
@model User

<head>
    <link rel="stylesheet" href="~/css/Common css/common.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Auth css/login.css" asp-append-version="true">
</head>

<div class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Login</h2>
        <form asp-controller="Auth" asp-action="Login" method="post" class="auth-form">
            <div class="form-group">
                <label for="Username" class="form-label">Username</label>
                <input type="text" id="Username" name="Username" class="form-input" required placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="Password" class="form-label">Password</label>
                <input type="password" id="Password" name="Password" class="form-input" required placeholder="Enter your password">
            </div>
            <div class="forgot-password-link">
                <a href="/Auth/ResetPwdRequest">Forgot your password?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit">Login</button>
            </div>
        </form>

        <div class="register-link">
            @* <a asp-action="Register">Don't have an account? Register</a> *@
            <small>Don't have an account? <a asp-action="Register">Register</a></small>
        </div>
    </div>
</div>
