@{
	<link rel="stylesheet" href="~/css/common.css">
}
<head>
	<style>
		.btn {
			background-color: black;
			color: white;
			margin-bottom: 10px;
		}
	</style>
</head>

<div style="width: 150px">
	<div style="width: 100%;">
		<a class="btn" asp-controller="NBA" asp-action="Teams">Teams</a>
		<a class="btn" asp-controller="NBA" asp-action="Team">Team</a>
		<a class="btn" asp-controller="NBA" asp-action="Players">Players</a>
		<a class="btn" asp-controller="NBA" asp-action="Player">Player</a>
	</div>
</div>