.vs/
/group-project-part-2-cssorcerers/bin
/group-project-part-2-cssorcerers/bin
/group-project-part-2-cssorcerers/bin
/group-project-part-2-cssorcerers/bin
/group-project-part-2-cssorcerers/bin/Debug
