/*-------------------- SHARED COMMON CSS -----------------------*/

footer {
    width: 100%;
    background: linear-gradient(to right, rgba(50, 50, 50, 0.8), rgba(60, 60, 60, 0.9));
    color: #E5E5E5; 
    text-align: center;
    padding: 20px 0; 
    margin-top: auto;
    font-size: 14px; 
    letter-spacing: 0.5px; 
}


    footer a {
        color: #E63946; 
        text-decoration: none;
        transition: color 0.3s ease;
    }

        footer a:hover {
            color: #F1F1F1;  
        }
