@{
    ViewData["Title"] = "SportIQ - Home";
}

<head>
    <link rel="stylesheet" href="~/css/common.css">
</head>

<div class="container home-container">
    <i class="fas fa-home home-icon"></i>
    <h1 class="home-title">Home View</h1>
    <p class="home-subtext">This is the main home page of the application.</p>
</div>

<a asp-controller="nfl" asp-action="index">
    <button>
        NFL
    </button>
</a>
